HELLO!
WELCOME NEW CODERS!
HOPE YOU WILL GONNA HAVE AN WONDERFUL CODING JOURNEY AHEAD!

In [3]:
x=3
x=x*3
print(x)
print("Hello all")

9
Hello all

**Variables in Python**

In [6]:
num_of_laptops=5 #numerical variable
owner_of_laptop="XYZ" #string variable
print(owner_of_laptop, "owns", num_of_laptops, "\nThank you")

XYZ owns 5
Thank you

reserved keywords we cannot use for variable name

**Arithmetic Opeararion**

In [11]:
p=35.8
q=90
print("summation= ",p+q)
print("subtraction= ",p-q)
print("multiplication= ",p*q)
print("division= ",p*q)
print("modulus=",p%q) #for printing reminder like 10/2=5 and 10%2=0
print("exponentiation= ",p**q)

summation=  125.8
subtraction=  -54.2
multiplication=  3221.9999999999995
division=  3221.9999999999995
modulus= 35.8
exponentiation=  7.070862596280334e+139

**Logical Operators**

In [17]:
x=6
y=9

print("use of 'and' operator")
print(x>3 and y<10)
print(x<4 and y<10)
#for 'and' both statements has to be true

print("use of 'or' operator")
print(x>3 or y<10)
print(x<4 or y<10)
print(x>4 or y<10)
#for 'or' any one of the statement has to be true

print("use of 'not' operator")
print(not(x>4))
print(not(y<8))
#reverse everything like x is actually greater than 4.but it reads absolutely opposite.
#so it will print false when it is true

use of 'and' operator
True
False
use of 'or' operator
True
True
True
use of 'not' operator
False
True

In [18]:
City=input("Where are you from?\n")
print("\nHey!I am from: "+ City)

Where are you from?
Kolkata

Hey!I am from: Kolkata